<h1>All Events</h1>
<br>
<br>
<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
    <% end %>






    
<!--  <a href="url"><u>Bacon Burger Taco Fest</u></a>
<br>
<br>
<a href="url"><u>Kaleapolooza</u></a> -->